In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "CSVFILES/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
unique_players = len(purchase_data["SN"].unique())
total_players_df = pd.DataFrame({"Total Players": [unique_players]})
total_players_df

   Total Players
0            576

In [4]:
unique_items = len(purchase_data["Item ID"].unique())
average_price = purchase_data["Price"].mean()
average_price_rounded = round(average_price,2)
number_of_purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                                       "Average Price":average_price_rounded,
                                       "Number of Purchases": [number_of_purchases],
                                       "Total Revenue":total_revenue})
purchasing_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.05                  780        2379.77

In [5]:
unique_gender_count = purchase_data.drop_duplicates(subset="SN",keep ='first')
gender_count = unique_gender_count["Gender"].value_counts()
percent_of_players = (gender_count / unique_players)*100
percent_of_players_rounded = round(percent_of_players,2)
gender_demographics_df = pd.DataFrame({"Total Count":gender_count,
                                       "Percentage of Players":percent_of_players_rounded})
gender_demographics_df

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

In [6]:
gender_purchases = purchase_data.groupby("Gender")["Item Name"]
gedner_purchase_count = gender_purchases.count()
gender_purchase_price_average = purchase_data.groupby("Gender")["Price"].mean()
gender_purchase_price_average_rounded = round(gender_purchase_price_average,2)
gender_purchase_total = purchase_data.groupby("Gender")["Price"].sum()
avg_total_by_gender = gender_purchase_total/gender_count
avg_total_by_gender = round(gender_purchase_total/gender_count,2)

purchasing_analysis_gender = pd.DataFrame({"Purchase Count":gedner_purchase_count,
                                           "Average Purchase Count": gender_purchase_price_average_rounded,
                                           "Total Purchase Price":gender_purchase_total,
                                           "Avg Total Purchase per Person":avg_total_by_gender})
purchasing_analysis_gender

,Purchase Count,Average Purchase Count,Total Purchase Price,Avg Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

In [7]:
bins = [0,9,14,19,24,29,34,39,46]
#bins= [0,11,16,21,26,31,36,41,46]
#bins = [0,10,15,20,25,30,35,40,45]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
adding_bins = pd.cut(unique_gender_count["Age"], bins, labels=group_names)
total_bin_values= adding_bins.value_counts()
purchase_data["Range of Ages"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
percent_of_players = round((total_bin_values/unique_players)*100,2)
age_demographics = pd.DataFrame({"Total Count":total_bin_values,"Percentage of Players": percent_of_players})
age_demographics

       Total Count  Percentage of Players
20-24          258                  44.79
15-19          107                  18.58
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
10-14           22                   3.82
<10             17                   2.95
40+             12                   2.08

In [8]:
purchase_count_bins = purchase_data.groupby("Range of Ages")["Item Name"].count()
average_purchase_price_bins = round(purchase_data.groupby("Range of Ages")["Price"].mean(),2)
total_purchase_value_bins = purchase_data.groupby("Range of Ages")["Price"].sum()
avg_total_purchase_per_person = round(total_purchase_value_bins/ total_bin_values,2)
purchasing_analysis = pd.DataFrame({"Purchase Count":purchase_count_bins,
                                    "Average Purchase Price":average_purchase_price_bins,
                                    "Total Purchase Value:":total_purchase_value_bins,
                                    "Avg Total Purchase per Person":avg_total_purchase_per_person})
purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value:,Avg Total Purchase per Person
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19
<10,23,3.35,77.13,4.54

In [9]:
top_spender_count = purchase_data.groupby("SN")["Item ID"].count()
top_spender_average = round(purchase_data.groupby("SN")["Price"].mean(),2)
top_spender_total_purchase = purchase_data.groupby("SN")["Price"].sum()
top_spender_df = pd.DataFrame({"Purchase Count":top_spender_count,
                               "Average Purchase Price":top_spender_average,
                               "Total Purchase Value":top_spender_total_purchase})
top_spender_df.sort_values("Total Purchase Value",ascending = False).head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

In [10]:
popular_purchase_count = purchase_data.groupby(["Item ID", "Item Name"])["Item ID"].count()
popular_item_price = round(purchase_data.groupby(["Item ID", "Item Name"])["Price"].mean(),2)
popular_item_total = purchase_data.groupby(["Item ID", "Item Name"])["Price"].sum()
most_popular_item_df = pd.DataFrame({"Purchase Count":popular_purchase_count,
                               "Item Price":popular_item_price,
                               "Total Purchase Value":popular_item_total})

most_popular_item_df.sort_values("Purchase Count",ascending = False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

In [11]:
most_popular_item_df.sort_values("Total Purchase Value",ascending = False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80