In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "CSVFILES/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
unique_players = len(purchase_data["SN"].unique())
total_players_df = pd.DataFrame({"Total Players": [unique_players]})
total_players_df

   Total Players
0            576

In [3]:
unique_items = len(purchase_data["Item ID"].unique())
average_price = purchase_data["Price"].mean()
average_price_rounded = round(average_price,2)
number_of_purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                                       "Average Price":"$"+str(average_price_rounded),
                                       "Number of Purchases": [number_of_purchases],
                                       "Total Revenue":"$"+str(total_revenue)})
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

In [4]:
unique_gender_count = purchase_data.drop_duplicates(subset="SN",keep ='first')
gender_count = unique_gender_count["Gender"].value_counts()
percent_of_players = (gender_count / unique_players)*100
percent_of_players_rounded = round(percent_of_players,2)
gender_demographics_df = pd.DataFrame({"Total Count":gender_count,
                                       "Percentage of Players":percent_of_players_rounded})
gender_demographics_df

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

In [5]:
gender_purchases = purchase_data.groupby("Gender")["Item Name"]
gedner_purchase_count = gender_purchases.count()
gender_purchase_price_average = purchase_data.groupby("Gender")["Price"].mean()
gender_purchase_price_average_rounded = round(gender_purchase_price_average,2)
gender_purchase_total = purchase_data.groupby("Gender")["Price"].sum()
avg_total_by_gender = gender_purchase_total/gender_count
avg_total_by_gender = round(gender_purchase_total/gender_count,2)

purchasing_analysis_gender = pd.DataFrame({"Purchase Count":gedner_purchase_count,
                                           "Average Purchase Count": gender_purchase_price_average_rounded,
                                           "Total Purchase Price":gender_purchase_total,
                                           "Avg Total Purchase per Person":avg_total_by_gender})
purchasing_analysis_gender

,Purchase Count,Average Purchase Count,Total Purchase Price,Avg Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

In [ ]:
bins = [0,9,14,19,24,29,34,39,46]
#bins= [0,11,16,21,26,31,36,41,46]
#bins = [0,10,15,20,25,30,35,40,45]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
adding_bins = pd.cut(unique_gender_count["Age"], bins, labels=group_names)
total_bin_values= adding_bins.value_counts()
purchase_data["Range of Ages"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
percent_of_players = round((total_bin_values/unique_players)*100,2)
age_demographics = pd.DataFrame({"Total Count":total_bin_values,"Percentage of Players": percent_of_players})
age_demographics

In [ ]:
purchase_count_bins = purchase_data.groupby("Range of Ages")["Item Name"].count()
average_purchase_price_bins = round(purchase_data.groupby("Range of Ages")["Price"].mean(),2)
total_purchase_value_bins = purchase_data.groupby("Range of Ages")["Price"].sum()
avg_total_purchase_per_person = round(total_purchase_value_bins/ total_bin_values,2)
purchasing_analysis = pd.DataFrame({"Purchase Count":purchase_count_bins,
                                    "Average Purchase Price":average_purchase_price_bins,
                                    "Total Purchase Value:":total_purchase_value_bins,
                                    "Avg Total Purchase per Person":avg_total_purchase_per_person})
purchasing_analysis

In [ ]:
top_spender_count = purchase_data.groupby("SN")["Item ID"].count()
top_spender_average = round(purchase_data.groupby("SN")["Price"].mean(),2)
top_spender_total_purchase = purchase_data.groupby("SN")["Price"].sum()
top_spender_df = pd.DataFrame({"Purchase Count":top_spender_count,
                               "Average Purchase Price":top_spender_average,
                               "Total Purchase Value":top_spender_total_purchase})
top_spender_df.sort_values("Total Purchase Value",ascending = False).head()

In [ ]:
popular_purchase_count = purchase_data.groupby(["Item ID", "Item Name"])["Item ID"].count()
popular_item_price = round(purchase_data.groupby(["Item ID", "Item Name"])["Price"].mean(),2)
popular_item_total = purchase_data.groupby(["Item ID", "Item Name"])["Price"].sum()
most_popular_item_df = pd.DataFrame({"Purchase Count":popular_purchase_count,
                               "Item Price":popular_item_price,
                               "Total Purchase Value":popular_item_total})

most_popular_item_df.sort_values("Purchase Count",ascending = False).head()

In [ ]:
most_popular_item_df.sort_values("Total Purchase Value",ascending = False).head()